<div class='row'>
	<div class='span4'>
		<h3>Create a post.</h1>
	</div>
</div>
	<%= form_for @post do |f| %>
	<div class='row'>
		<div class='span4'>
			<%= f.label :title, "Title" %>
			<%= f.text_field :title %>	
		</div>
	</div>
	<div class='row'>
		<div class='span6'>
			<%= f.label :content, "Content" %>
			<%= f.text_area :content %>
		</div>
	</div>
	
	<%= f.hidden_field :date, :value => Date.today %>
	<%= f.submit "Create", :class => 'btn btn-primary'%>
	<% end %>
